
@{
    ViewBag.Title = "頁面不存在";
}

<h1>@ViewBag.Message</h1>

@*呈現在view上*@
@*<h1>@ViewBag.Message</h1>

    <h1>@ViewBag.Paht</h1>

    <h1>@ViewBag.QueryString</h1>*@

<a asp-action="index" asp-controller="home" class="btn btn-outline-success" style="width:auto">
    返回清單
</a>