/CoreLearningByYoutube/wwwroot/lib/bootstrap/css/bootstrap-grid.css
/CoreLearningByYoutube/wwwroot/lib/bootstrap/css/bootstrap-grid.css.map
/CoreLearningByYoutube/wwwroot/lib/bootstrap/css/bootstrap-grid.min.css
/CoreLearningByYoutube/wwwroot/lib/bootstrap/css/bootstrap-grid.min.css.map
/CoreLearningByYoutube/wwwroot/lib/bootstrap/css/bootstrap-reboot.css
/CoreLearningByYoutube/wwwroot/lib/bootstrap/css/bootstrap-reboot.css.map
/CoreLearningByYoutube/wwwroot/lib/bootstrap/css/bootstrap-reboot.min.css
/CoreLearningByYoutube/wwwroot/lib/bootstrap/css/bootstrap-reboot.min.css.map
/CoreLearningByYoutube/wwwroot/lib/bootstrap/css/bootstrap.css
/CoreLearningByYoutube/wwwroot/lib/bootstrap/css/bootstrap.css.map
/CoreLearningByYoutube/wwwroot/lib/bootstrap/css/bootstrap.min.css
/CoreLearningByYoutube/wwwroot/lib/bootstrap/css/bootstrap.min.css.map
/CoreLearningByYoutube/wwwroot/lib/bootstrap/js/bootstrap.bundle.js
/CoreLearningByYoutube/wwwroot/lib/bootstrap/js/bootstrap.bundle.js.map
/CoreLearningByYoutube/wwwroot/lib/bootstrap/js/bootstrap.bundle.min.js
/CoreLearningByYoutube/wwwroot/lib/bootstrap/js/bootstrap.bundle.min.js.map
/CoreLearningByYoutube/wwwroot/lib/bootstrap/js/bootstrap.js
/CoreLearningByYoutube/wwwroot/lib/bootstrap/js/bootstrap.js.map
/CoreLearningByYoutube/wwwroot/lib/bootstrap/js/bootstrap.min.js
/CoreLearningByYoutube/wwwroot/lib/bootstrap/js/bootstrap.min.js.map
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/additional-methods.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/additional-methods.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/jquery.validate.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/jquery.validate.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_ar.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_ar.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_az.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_az.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_bg.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_bg.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_bn_BD.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_bn_BD.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_ca.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_ca.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_cs.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_cs.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_da.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_da.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_de.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_de.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_el.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_el.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_es.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_es.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_es_AR.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_es_AR.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_es_PE.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_es_PE.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_et.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_et.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_eu.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_eu.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_fa.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_fa.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_fi.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_fi.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_fr.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_fr.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_ge.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_ge.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_gl.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_gl.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_he.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_he.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_hr.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_hr.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_hu.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_hu.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_hy_AM.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_hy_AM.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_id.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_id.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_is.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_is.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_it.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_it.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_ja.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_ja.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_ka.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_ka.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_kk.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_kk.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_ko.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_ko.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_lt.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_lt.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_lv.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_lv.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_mk.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_mk.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_my.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_my.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_nl.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_nl.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_no.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_no.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_pl.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_pl.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_pt_BR.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_pt_BR.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_pt_PT.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_pt_PT.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_ro.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_ro.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_ru.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_ru.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_sd.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_sd.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_si.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_si.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_sk.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_sk.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_sl.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_sl.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_sr.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_sr.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_sr_lat.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_sr_lat.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_sv.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_sv.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_th.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_th.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_tj.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_tj.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_tr.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_tr.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_uk.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_uk.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_ur.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_ur.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_vi.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_vi.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_zh.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_zh.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_zh_TW.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/messages_zh_TW.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/methods_de.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/methods_de.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/methods_es_CL.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/methods_es_CL.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/methods_fi.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/methods_fi.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/methods_it.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/methods_it.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/methods_nl.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/methods_nl.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/methods_pt.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validate/localization/methods_pt.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
/CoreLearningByYoutube/wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery/core.js
/CoreLearningByYoutube/wwwroot/lib/jquery/jquery.js
/CoreLearningByYoutube/wwwroot/lib/jquery/jquery.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery/jquery.min.map
/CoreLearningByYoutube/wwwroot/lib/jquery/jquery.slim.js
/CoreLearningByYoutube/wwwroot/lib/jquery/jquery.slim.min.js
/CoreLearningByYoutube/wwwroot/lib/jquery/jquery.slim.min.map
/.vs/CoreLearningByYoutube/DesignTimeBuild/.dtbcache
/.vs/CoreLearningByYoutube/config/applicationhost.config
/.vs/CoreLearningByYoutube/v15/.suo
/.vs/CoreLearningByYoutube/v15/Server/sqlite3/db.lock
/.vs/CoreLearningByYoutube/v15/Server/sqlite3/storage.ide
/.vs/CoreLearningByYoutube/v15/Server/sqlite3/storage.ide-shm
/.vs/CoreLearningByYoutube/v15/Server/sqlite3/storage.ide-wal
/.vs/CoreLearningByYoutube/v16/.suo
/.vs/CoreLearningByYoutube/v16/Server/sqlite3/db.lock
/.vs/CoreLearningByYoutube/v16/Server/sqlite3/storage.ide
/.vs/CoreLearningByYoutube/v16/Server/sqlite3/storage.ide-shm
/.vs/CoreLearningByYoutube/v16/Server/sqlite3/storage.ide-wal
/CoreLearningByYoutube/obj
/CoreLearningByYoutube/bin
